<div class="container">
  <h1>Create a new Octoπ</h1>

  <%= simple_form_for(@squid) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
  <%= link_to "Cancle", squids_path %>
</div>
