<div class="container">
  <h1>Create a new Octoπ</h1>

  <%= simple_form_for(@squid) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
  <div class="cancle-btn-div">
    <%= f.button :submit, class: 'btn btn-flat', style: 'font-weight: bold;' %>
  <% end %>
  <%= link_to "Cancle", squids_path, class:"btn btn-flat", style: 'font-weight: bold;' %>
  </div>
</div>
