<div class="container">
  <br>
  <h1><%= @squid.name %></h1>
  <br>
  <div class="show-page-container">
    <%= cl_image_tag @squid.photo.key, height: 550, width: 650, crop: :fill %>
      <div class="show-page-text">
        <h2>Description</h2>
        <p><%= @squid.description %></p>
        <br>
        <br>
        <h2>$<%= @squid.price %> / day</h2>
        <%= link_to "BOOK NOW", new_booking_path, class: "btn btn-flat" %>
      </div>
  </div>
</div>
