  <%= simple_form_for [@squid, @booking] do |f| %>
    <%= f.input :rent_date %>
    <br>
    <div class="cancle-btn-div">
      <%= f.button :submit, class: 'btn btn-flat', value: "Book Now" %>
  <% end %>
      <%# <%= link_to "Book Now", squid_path(@squid), class:"btn btn-flat" %>
      <%= link_to "Cancel", squids_path, class:"btn btn-flat" %>
    </div>
