<div class="container">
  <div class="purple-section">
  <h1>My Trips</h1>
  <% if @bookings.empty? %>
    <p>You don't seem to have any bookings</p>
  <% else %>
    <% @bookings.each do |booking| %>
      <div class="card-product">
        <% if booking.squid.photo.key.nil? %>
          <%= image_tag "octopus-missing.avfi", class: "show-page-image" %>
        <% else %>
          <%= cl_image_tag booking.squid.photo.key, class: "show-page-image" %>
        <% end %>
        <div class="card-product-infos">
          <h2><%= booking.squid.name %></h2>
          <p><strong>Date: </strong><%= booking.rent_date %></p>
          <p><strong>Owner: </strong><%= booking.squid.user.first_name %></p>
          <p><strong>Status: </strong><%= booking.status %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>

  <%# Add if statment so below is only rendered id the user has squids %>
  <% unless @my_octopuses.empty? %>
    <%= render "shared/octopus_bookings" %>
  <% end %>
</div>
