<div style="display: flex; flex-direction: column; align-items: center;">
  <h2 style="text-align: center; margin-top: 20px;">Forgot your password?</h2>

  <div style="width: 50%;">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "text-start" }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Send me reset password instructions" %>
      </div>
    <% end %>
  </div>

  <div style="margin-top: 20px;">
    <%= render "devise/shared/links" %>
  </div>
</div>
