<div class="container">
  <br>
  <h1>The bookings of my octoπ</h1>
  <% if @my_octo_bookings.empty? %>
    <p>None of your octoπ's seem to booked</p>
  <% else %>
    <% @my_octo_bookings.each do |booking| %>
      <p>Squid: <%= booking.squid.name %></p>
      <p>Date: <%= booking.rent_date %></p>
      <p>Booker: <%= booking.user.first_name %></p>
      <p>Status: <%= booking.status %></p>
      <%= link_to "Edit your booking", edit_booking_path(booking) %>
      <hr>
    <% end %>
  <% end %>
</div>
